# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = daq_engine.settings

[deploy:ms-daq-engine]
url = http://127.0.0.1:6800/
project = ms-daq-engine

jobs_to_keep = 999999999