# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = daq_engine.settings

[deploy:meta-sphere]
url = http://localhost:6800/
project = daq_engine

jobs_to_keep = 999999999